/* CSS variables */
:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);

    --bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --footer-bg-color: #2F303A;
    --bg-color-cards: #F5F4FA;
    
    --hero-btn-color: #FFFFFF;
    --text-btn-color-hover: #FFFFFF;
    --accent-color: #2196F3;

    --color-icons: #AFB1B8;

    --time-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/* Hidden  */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Global styles */
body {
    color: var(--main-text-color);
    background-color: var(--bg-color);

    font-family: 'Roboto',
    sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Styles for header */

.header-container,
.navigation,
.header .list {
    display: flex;
}

.logo {
    display: block;

    color: var(--accent-color);

    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;

}

.header .logo {
    padding: 24px 0;
    margin-right: 93px;
}

.logo-black {
    color: #000000;
}

.logo-white {
    color: #FFFFFF;
}

.nav-list {
    padding-left: 0;
    align-items: center;
}

.nav-list li:not(:last-child) {
    margin-right: 50px;
}

.header-container {
    border-bottom: 1px solid #ECECEC;
}

.header .item {
    display: block;
    padding: 32px 0;
    margin: 0;
    
    color: currentColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--time-func);
}

.header .contacts {
    margin-left: auto;
    align-items: center;
}

.header .contacts li:first-child {
    margin-right: 50px;
}

.item.current {
    color: var(--accent-color);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.nav-list li {
    position: relative;
}

.item.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: var(--accent-color);
}

.contacts .item {
    color: var(--second-text-color);
    display: flex;
    align-items: center;
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
}
/* Styles for hero */

.hero {
    padding: 200px 0;
    width: 1600px;
    max-height: 600px;
    background-color: var(--hero-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpage-img/main-bg.jpg);
    margin: 0 auto;
}

.hero .title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    color: #ffffff;

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    color: var(--hero-btn-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color var(--time-func);
}    

.btn:hover,
.btn:focus {
    background-color: #188CE8;
}


/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    
    transition: opacity var(--time-func), visibility var(--time-func);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal-wrapper {
    transform: translate(-50%,-50%) scale(.8);
}

.backdrop .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transform: translate(-50%,-50%) scale(1);
    transition: transform var(--time-func);
}


.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    cursor: pointer;

    transition: color var(--time-func);
}

.icon-close {
    fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
    color: var(--accent-color);
}

/* Styles for modal form */

.form-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
    margin-bottom: 12px;
}

.form-modal-group {
    display: block;
    position: relative;

    margin-bottom: 10px;
}

.icon-wrapper {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    top: 11px;

    fill: currentColor;
    pointer-events: none;
}

.form-modal-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}


.form-modal-comment {
    display: block;
    margin-bottom: 20px;
}

.form-modal-input,
.form-modal-textarea {
    width: 100%;
    height: 40px;
    padding-left: 32px;
    padding-right: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--time-func);

}

.form-modal-textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
}

.form-modal-textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}


.form-modal-input:hover,
.form-modal-textarea:hover,
.form-modal-input:focus,
.form-modal-textarea:focus {
    border-color: var(--accent-color);
    cursor: pointer;
        outline: transparent;
}

.form-modal-input:hover + .form-icon,
.form-modal-textarea:hover + .form-icon {
    fill: var(--accent-color);
}

.form-modal-input + .form-icon,
.form-modal-textarea + .form-icon {
    transition: fill var(--time-func);
}

.checkbox-group {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-modal-agree {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    cursor: pointer;

}

.custom-check {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;

    outline: 2px solid var(--main-text-color);
    outline-offset: -2px;

    border-radius: 4px;
    transition: background-color var(--time-func), outline var(--time-func);
}

.check-standard + .custom-check .check-icon {
    opacity: 0;
    transition: opacity var(--time-func);
    fill: #FFFFFF;
}

.check-standard:checked + .custom-check {
    background-color: var(--accent-color);
    outline-color: var(--accent-color);
}
.check-standard:checked + .custom-check .check-icon {
    opacity: 1;
}

.check-standard:focus+.custom-check {
    outline-color: var(--accent-color);
}

.check-standard:focus:checked+.custom-check {
    outline-color: var(--main-text-color);
}


.agree-href {
    color: var(--accent-color);
    text-decoration-line: underline;
}

.modal-form .form-btn {
    padding: 10px 55px;
}

/* Styles for peculiarities */

.peculiarities-group {
    display: flex;
}

.peculiarities-group .item {
    width: 270px;
}

.peculiarities-group .item:not(:last-child) {
    margin-right: 30px;
}

.peculiarities .title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarities .text {
    color: var(--second-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    background-color: var(--bg-color-cards);
    margin-bottom: 30px;
    border-radius: 4px;
}

/* Styles for what doing */

.what-doing {
    padding-top: 0;
}

.what-doing-group {
    display: flex;
}

.what-doing-group img {
    display: block;
    max-width: 100%;
    height: auto;
}

.what-doing-group .item:not(:last-child) {
    margin-right: 30px;
}
.what-doing .title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.what-doing .item {
    position: relative;
}

.label {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}


/* Styles for our team */

.team {
    background-color: var(--bg-color-cards)
}

.team-group {
    display: flex;
}

.team-group img {
    display: block;
    max-width: 100%;
    height: auto;
}


.team-group .item:not(:last-child) {
    margin-right: 30px;
}

.team-group .item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.team .title,
.customers .title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text {
    color: var(--second-text-color);

    font-size: 16px;
    text-align: center;
    line-height: 1.19;

    margin-bottom: 16px;
}

.team .subtext {
    padding: 30px 15px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--color-icons);

    transition: color var(--time-func), background-color var(--time-func);
}

.socials-icon {
    fill: currentColor;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link:hover,
.socials-link:focus {
    color: var(--text-btn-color-hover);
    background-color: var(--accent-color);
}


/* Regular customers */

.customers {
    padding: 94px 0px;
}

.customers .list {
    display: flex;
}

.customers .item {
    width: 170px;
    height: 92px;
}

.customers .item:not(:last-child) {
    margin-right: 30px;
}

.customers .link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-icons);
    border-radius: 4px;
    color: var(--color-icons);

    transition: color var(--time-func), border-color var(--time-func);
}

.customers-icon {
    fill: currentColor;
}

.customers .link:hover,
.customers .link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Styles for footer */

.bottom {
    background-color: var(--footer-bg-color);

    padding: 60px 0;
}

.bottom .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.bottom .text {
    margin-bottom: 9px;

    color: #FFFFFF;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address {
    font-style: normal;
}

.address .link {
    color: var(--footer-text-color);

    font-size: 14px;
    line-height: 1.7;

    transition: color var(--time-func);
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.address .item:first-child {
    margin-bottom: 9px;
}

/* Join */

.join {
    margin-right: auto;
}

.wrap-footer {
    display: flex;
    align-items: baseline;
}

.container-footer {
    margin-right: 70px;
}

.join .text,
.subscription-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: #FFFFFF;
}

.bottom .socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;

    transition: background-color var(--time-func);
}

.bottom .socials-link:hover,
.bottom .socials-link:focus {
    background-color: var(--accent-color);
}

.subscription-title {
    display: block;
}

.form-wrap {
    display: flex;
}

.subscription-input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-btn {
    display: flex;
    align-items: center;
}

.footer-icon {
    margin-left: 10px;
    fill: currentColor;
}

/* =======================
        Portfolio.html
======================= */
.portfolio .btn {
    padding: 6px 22px;

    color: currentColor;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition: background-color var(--time-func), color var(--time-func), box-shadow var(--time-func);
}

.portfolio .btn:hover,
.portfolio .btn:focus,
.btn.current {
    color: var(--text-btn-color-hover);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.list-filter .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-group {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-group .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-group .item:nth-child(-n+6) {
    margin-bottom: 30px;
}

.portfolio-group img {
    display: block;
    max-width: 100%;
    height: auto;
}
.portfolio-group .item {
    width: 370px;

}

.portfolio-group .link {
    display: block;

    transition: box-shadow var(--time-func);
}

.portfolio-group .link:hover,
.portfolio-group .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio .subtext {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    
}

.portfolio .subtitle {
    margin-bottom: 4px;

    color: var(--main-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--second-text-color);

    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    
    transition: transform var(--time-func);
}

.paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
} 
    
.portfolio-group .link:hover .text-overlay,
.portfolio-group .link:focus .text-overlay {
    transform: translateY(-100%);
}